.basket-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.basket-items-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-top: 15vh;
    width: 80%;


}

.basket-title{
    font-size: var(--sectionTitleSize);
    font-family: var(--titleFont);
    margin-bottom: 20px;
    font-weight: 100;
}

.basket-item{
    display: flex;
    font-family: var(--textFontLight);
    font-size: var( --subHeadingSize);
    letter-spacing: 2px;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 20px;
    width: 100%;
    border-bottom: solid 2px rgb(198, 198, 198);

}

.basket-img{
    height: 250px ;
}

.img-name-container{
    display: flex;
    gap: 20px;
    width: 50%;
}

.quantity, .price{
    display: flex;
    gap: 10px;
    align-items: center;
    height: 10%;
    cursor: pointer;

}

.icon{
    height: 20px;
}



.subtotal-checkout-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 80%;
    margin-bottom: 15vh;
}

.subtotal{
    display: flex;
    justify-content: space-between;
    font-family: var(--textFontLight);
    font-size: var( --subHeadingSize);
    width: 20%;
}

.checkout-button{
    width: 20%;
    font-size: var(--subHeadingSize);
    font-family: var(--textFontMedium);
    background-color: var(--mainDark);
    color: var(--mainBackground);
    padding: 10px;
    border: none;
    cursor: pointer;
}

.no-items-text{
    font-size: var(--subHeadingSize);
    font-family: var(--textFontLight);
    font-weight: 100;
}