/*hero section*/

.hero-section{
    background-image: url('../assets/images/canele-bakery-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: flex-end;

}

.hero-section-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(255, 255, 255,0), rgb(255, 255, 255,0.2), rgb(255, 255, 255, 0.4), rgb(255, 255, 255,0.6));    flex-basis: 40%;
}

h1{
    color: var(--mainDark);
    font-size: var(--mainHeadingSize);
    font-family: var(--titleFont);
    font-weight: 100;
}

.hero-section-paragraph{
    color: var(--mainDark);
    font-family: var(--textFontMedium);
    font-size: var(--subHeadingSize);
    width: 75%;
    line-height: 1.3;

}

.button-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    height: 20%;
}

.button{
    width: 48%;
    height: 50%;
    font-size: var(--subHeadingSize);
    font-family: var(--textFontMedium);
    border: none;
    cursor: pointer;
}

.button-discover{
    background-color: var(--mainDark);
    color: var(--mainBackground);
}

.button-shop{
    background-color: var(--mainHighLight);
    color: var(--mainDark);

}

.button:hover{

    opacity: .75;

}

@media only screen and (max-width: 1720px) {
    h1{
        font-size: var(--mainHeadingSizeMediumScreen);
    } 

    .hero-section-paragraph, .button{
        font-size: var( --headingSizeMediumScreen);
    
    
    }
}

/*about*/
.about-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height:90vh;
    padding-left: 100px;
}

.about-image{
    height: 95%;
   
}

.about-text-container{
    background-image: url('../assets/images/thyme.png');
    background-repeat: no-repeat;
    background-position: bottom right -100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px;
    align-items: center;
    gap: 20px;
}

.about-title{
    font-family: var(--titleFont);
    font-size: var(--sectionTitleSize);
    font-weight: 100;
}
.about-text{
    width:70%;
    font-family: var(--textFontMedium);
    font-size: var( --paragraphText);
}


@media only screen and (max-width: 1720px) {
    .about-title{
        font-size: var(--sectionTitleSizeMediumScreen);
    } 

    .about-text{
        font-size: var( --paragraphTextMediumScreen);
    
    
    }

    .about-text-container{
       background-size: 65%;
}}


/* discover section */

.discover-section{
    display: flex;
    gap: 30px;
    padding: 0px 100px;
    align-items: center;
    height:95vh;
    color: var(--mainDark);

}

.discover-text-container, .discover-pastries, .discover-breads, .discover-sweet-endings{
    height: 65%;
    width: 30%;

}

.discover-text-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.discover-text-title{
    font-family: var(--titleFont);
    font-weight: 100;
    font-size: var( --sectionTitleSize);
    text-align: start;
    line-height: 1;
}

.discover-image{
    width: 100%;
}

.discover-text-paragraph, .discover-image-subtitle{
    font-family: var(--textFontMedium);
    font-size: var(--subHeadingSize);
}

.discover-text-paragraph{
text-align: start;
padding-bottom: 10px;
width: 90%;
}

.discover-image-subtitle{
    text-decoration: underline;
}

.discover-text-button{
    width: 70%;
    height: 15%;
    font-size: var(--subHeadingSize);
    font-family: var(--textFontMedium);
    background-color: var(--mainDark);
    color: var(--mainBackground);
    border: none;
    cursor: pointer;
}

.discover-text-button:hover{
    opacity: .75;

}

@media only screen and (max-width: 1720px) {
    .discover-text-title{
        font-size: var(--sectionTitleSizeMediumScreen);
    } 
    .discover-text-paragraph, .discover-image-subtitle{
        font-size: var(--subHeadingSizeMediumScreen);
    
    
 }
}

/*footer-image-section*/

.footer-image-section{
    background-color: black;
    
    height: 80vh;
}

.footer-image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/images/footer-image.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    opacity:0.6;
    
}

.footer-logo{
height: 50%;
filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(28deg) brightness(111%) contrast(101%);

}