@font-face {
  font-family: 'Grotesk-Light';
  src: url('../assets/fonts/Darker_Grotesque/DarkerGrotesque-Light.ttf');
}

@font-face {
  font-family: 'Grotesk-Medium';
  src: url('../assets/fonts/Darker_Grotesque/DarkerGrotesque-Medium.ttf');
}

@font-face {
  font-family: 'Yeseva';
  src: url('../assets/fonts/Yeseva_One/YesevaOne-Regular.ttf');
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


:root{

  /* colours  */
  --mainBackground: #f4f4f4;
  --mainHighLight: #fedd62;
  --secondHighLight: #9acc93;
  --thirdHighLight: #4d7c8a;
  --mainDark: #140013;

  /* text */
  --titleFont: 'Yeseva';
  --textFontLight: 'Grotesk-Light';
  --textFontMedium: 'Grotesk-Medium';
  --mainHeadingSize: 6rem;
  --headingSize: 2.25rem;
  --subHeadingSize: 2rem;
  --paragraphText: 1.4rem;
  --captionSmall: 0.6rem;

   /* text 1720px*/
   --titleFont: 'Yeseva';
   --textFontLight: 'Grotesk-Light';
   --textFontMedium: 'Grotesk-Medium';
   --mainHeadingSizeMediumScreen: 5rem;
   --headingSizeMediumScreen: 1.8rem;
   --subHeadingSizeMediumScreen: 1.5rem;
   --paragraphTextMediumScreen: 0.8rem;
   --captionSmall: 0.6rem;

}