/*nav*/
nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    height:5vh;
    width: 100%;
    padding: 0 20px;
    

}

.nav-links-list{
    display: flex;
    list-style: none;
    font-size: var(--paragraphText);
    gap:15px;
    
}

.nav-link a{
text-decoration: none;
color: var(--mainDark);
font-family: var(--textFontMedium);
}

.nav-link:hover{
    text-decoration: underline;
}

.logo{
    height:50%
}

/*footer*/
footer{
    height: 20vh;
    background-color: var(--mainHighLight);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    font-family: var(--titleFont);
    font-weight:lighter
}

.footer-item{
    height:70%;
    flex-basis:30%;
    border:0px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: start;
}

.footer-heading{
    font-size: var(--headingSize);
}

.footer-email, .footer-location{
    font-size: var(--paragraphText);
}